---

import Footer from '../components/Footer';
import NavBar from '../components/NavBar';
import MyAccount from '../components/MyAccount';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<NavBar client:load/>
        <MyAccount client:load/>
		<Footer client:load/>
	</main>
</Layout>


